/* Header */

.header__wrapper {
    height: max(6vh, 45px);
    width: 100vw
}

.header {
    position: fixed;

    padding: 0.5rem;
    top: 0px;
    left: 0px;

    width: inherit;
    height: inherit;
}

.title {
    font-size: 1.5rem;
}

.header__left {
    gap: 1rem;
    margin: var(--padding-small) var(--padding);
    align-items: center;
}

.header__right {
    margin: 0 1.5rem;
    justify-content: end;
}

.header__nav {
    gap: 0.5rem;
    display: none;
}

.menu-bar {
    font-size: 1.1rem;
    text-decoration: none;
    border-radius: 10px;
    color: inherit;
    transition: all 500ms ease-out;
}

.menu-bar:hover {
    background-color: var(--white);
    color: var(--black);
}

.menu-button {
    margin: 0 0.5rem;
}

.menu-button:focus-within .nav-bar {
    display: flex;
}

/* navbar */
.nav-bar-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

.nav-bar {
    position: fixed;
    width: 100vh;
    left: 0;
    top: max(6vh, 45px);

    width: 100vw;

    display: none;
    flex-direction:column;
}

.nav-bar-menu {
    padding: 1rem;
    border-radius: 0;
    border-bottom: 1px solid var(--white);
    text-align: center;
}

/* Main */

.main--box {
    min-height: 60vh;
}

.main {
    display: flex;
    flex-direction: column;
}

.home {
    gap:5rem;
    justify-content:space-around;
    flex-direction: column-reverse;
}

.home__left {
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: center;
}


.home__header {
    font-size: clamp(2rem, 5vw, 5rem);
}

.about {
    gap: 5rem;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
}

.about__left {
    flex-direction: column;
    justify-content: center;
    width: auto;
}

.about__wrapper {
    height:fit-content;
    width: 80%;
    margin: auto;
}

.about__description {
    line-height: 1.5;
    font-size: 1.2rem;
}

.card-container {
    display: grid;
    grid-template-rows: repeat(1fr);
    gap: 2rem;
}

.testimony-card {
    flex-direction: column;
    gap: 1.5rem;
}

.card__name::before {
    content: "-- ";
}


/* Footer */
.footer {
    flex-direction: column;
    flex-grow: 1;
}

.contact__header {
    font-size: 3rem;
}

.contact-card {
    gap: 1rem;
}

.footer__end {
    text-align:end;
}

.copyright {
    padding-top: 2rem;
    font-size: 1.1rem;
}


@media screen and (min-width: 769px) {
    .header__nav {
        display: flex;
    }

    .menu-button {
        display: none;
    }

    .home,
    .about {
        flex-direction: row;
    }

    .home__left {
        align-items: start;
    }

    .about__left {
        width: 50%;
    }

    .header {
        padding: .5rem 15vw;
    }

    .card-container {
        grid-template-columns: 1fr 1fr 1fr;

    }
}