@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Padding */
    --padding-small: 0.5rem;
    --padding: 1rem;

    /* Color */
    --white: white;
    --black: black;
}

body {
    min-height: 150vh;
    font-size: 1rem;
    font-family: 'Roboto';
    
    display: flex;
    flex-direction: column;
}

/* Utility Class */
.bg-black {
    background-color: var(--black);
}

.bg-white {
    background-color: var(--white);
}

.fg-white {
    color: var(--white);
}

.flex-box {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.button {
    background-color: transparent;
    border: 0 solid black;
}

.button:focus {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.test {
    background-color: blue;
}

.none {
    display: none;
}

.block {
    display:block;
}

/* General Class */

/* Header */

.header-wrapper {
    height: max(6vh, 45px);
    width: 100vw
}

.header {
    position: fixed;
    padding: 0.5rem;
    top: 0px;
    left: 0px;

    width: inherit;
    height: inherit;
}

.title {
    font-size: 1.5rem;
}

.header-left {
    margin: var(--padding-small) var(--padding);
    align-items: center;
}

.header-right {
    margin: 0 1.5rem;
    justify-content: end;
}

.header-nav {
    gap: 0.5rem;
    display: none;
}

.menu-bar {
    font-size: 1.1rem;
    text-decoration: none;
    border-radius: 10px;
    transition: all 500ms ease-out;
}

.menu-bar:hover {
    background-color: var(--white);
    color: var(--black);
}

.menu-button {
    margin: 0 0.5rem;
}

.menu-button:focus-within .nav-bar {
    display: flex;
}

/* navbar */
.nav-bar-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

.nav-bar {
    position: fixed;
    width: 100vh;
    left: 0;
    top: max(6vh, 45px);

    width: 100vw;

    display: none;
    flex-direction:column;
}

.nav-bar-menu {
    padding: 1rem;
    border-radius: 0;
    border: 1px solid var(--white);
    text-align: center;
}


/* Main */
.main {
    background-color: purple;
    padding: 1rem 2rem;
}

.home {
    height: 60vh;
}

.home-left {
    background-color: green;
}

.home-right {
    background-color: blue;
}



.footer {
    background-color: blue;
}

@media screen and (min-width: 769px) {
    .header-nav {
        display: flex;
    }

    .menu-button {
        display: none;
    }
}