/* Utility */
.box--padding {
    padding: 10vh 15vw;
}

.block {
    display: block;
}

body {
    background-color: #0d1117;
    color: var(--white);
}

/* Main */
.main {
    flex-direction: column;
}

/* user-profile */

.username {
    font-size: 2rem;
}

.edit-button {
    padding: .3rem .5rem;
    background-color: black;
}

.edit-button:hover {
    background-color: hsl(0, 0%, 0%, 70%)
}

.edit-button__wrapper {
    justify-content: right;
}

/* Background Image */
.background__container,
.background__filler {
    height: 35vh;
}

.background__container {
    color: var(--white);
    overflow: hidden;

    position: relative;
}

.background {
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
}

.background__filler {
    position: sticky;
    top: 0;
    justify-content: center;

    flex-direction: column;
}

.background__filler p {
    background-color: black;
    margin-bottom: .2rem;
    padding: .2rem 2vw;
    width: fit-content;
}


/* Edit Window */

.black-screen {
position: absolute;
    top: 0;
    left: 0;

    background-color: hsl(0, 0%, 0%, 50%);
    width: 100vw;
    height: 100vh;
}

.black-screen--window {
    border-radius: 10px;
    background-color: var(--white);
    width: 60vw;

    flex-direction: column;
    color: var(--black);
    gap: 1rem;
}

.black-screen--header {
    margin-top: .2rem;
    margin-bottom: 2rem;
}

.black-screen--window-height {
    height: 80vh;
}

.edit-window {
    border-radius: 10px;
    background-color: var(--white);
    width: 60vw;
    height: 80vh;

    flex-direction: column;
    color: var(--black);
}

.edit-window--padding {
    padding: 2vh 3vw;
}

.edit__header {
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    padding: 2vh 2vw;
}

.back-button {
    background-color: transparent;
    background-size: cover;
    width: 32px;
    height: 32px;
    border: 0;
    color: transparent;

    transition: 500ms ease-in-out;
    background-image: url("../img/left.ico");
}

.back-button:hover {
    width: 36px;
    height: 36px;
}

.edit {
    overflow-y: auto;
}

.edit--margin-top {
    margin-top: 1rem;
}

.edit__input {
    width: 100%;
    padding: .2rem .5rem;
}

textarea.edit__input {
    max-width: 100%;
    min-width: 100%;

    padding: .5rem 1rem;
}

.edit__button {
    background-color: green;
    padding: .2rem .3rem;
    color: white;
    transition: 500ms ease-in;
}

.edit__button:hover {
    background-color: green
}

/* Edit Background */
#backgroundEdit {
    cursor: move;
}

.edit-background-button {
    background-color: lime;
    padding: .2rem .5rem;
}

.edit-background-button:hover {
    background-color: rgba(0, 255, 0, 0.4);
}