@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Padding */
    --padding-small: 0.5rem;
    --padding: 1rem;

    /* Color */
    --white: white;
    --black: black;
}

body {
    min-height: 100vh;
    font-size: 1.2rem;
    font-family: 'Roboto';
    
    display: flex;
    flex-direction: column;

    background-color: #0d1117;
    color: white;
}

img {
    display: block;
}

p {
    word-wrap: break-word;
}

/* Background */
.bg-black {
    background-color: var(--black);
    color: var(--white);
}

.bg-white {
    background-color: var(--white);
    color: var(--black);
}

/* Flex */
.flex-box {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.main-box {
    background-color: var(--header-bg-color);
    padding: 1rem;
    border-radius: 10px;
}


/* Button */
.button {
    background-color: transparent;
    border: 0;
    color: inherit;
    border-radius: 5px;
    font-size: inherit;
    font-weight: inherit;
    transition: all 500ms ease-in;
}

.button:hover {
    cursor: pointer;
}

.button--white-hover:hover {
    background-color: var(--white);
    color: var(--black);
}

.button--underline-hover:hover {
    text-decoration: underline;
}

.button--white-border {
    border: 1px solid white;
}

/* Img */
.img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}


/* Container */
.container {
    padding: 3rem 2rem;
}

/* Container Header */
.container__header {
    font-size: clamp(2rem, 5vw, 3rem);
    padding-bottom: .5rem;
    margin-bottom: 2rem;
}

.container__header--hr {
    border-bottom: 1px solid var(--white);
}


/* Display */
.none {
    display: none;
}


@media screen and (min-width: 769px) {
    .container {
        padding: 3rem 15vw;
    }
}