<footer class="footer bg-black fg-white flex-box container">
    <section class="contact-card flex-box">
        <img src="img/email.ico" alt="">
        <p>email: info@mealmaster.com</p>
    </section>
    <section class="contact-card flex-box">
        <img src="img/email.ico" alt="">
        <p>email: info@mealmaster.com</p>
    </section>
    <section class="contact-card flex-box">
        <img src="img/email.ico" alt="">
        <p>email: info@mealmaster.com</p>
    </section>
    <p>&copy; MealMaster LLC. All rights reserved</p>
</footer>
</body>

</html>