<footer class="footer bg-black fg-white flex-box container">
    <section class="contact-card flex-box">
        <img src="img/email.ico" alt="">
        <p>email: info@mealmaster.com</p>
    </section>
    <section class="contact-card flex-box">
        <img src="img/phone.ico" alt="">
        <p>Phone: +1 (555) 123-4567</p>
    </section>
    <section class="contact-card flex-box">
        <img src="img/address.ico" alt="">
        <p>Address: 123 Recipe Lane, Foodville, Cookland</p>
    </section>
    <p class="container flex-box flex-center">
        &copy; MealMaster LLC. All rights reserved
    </p>
</footer>
</body>

</html>