<section class="header-wrapper">
    <header class="header bg-black flex-box">
        <section class="header-left flex-box flex-grow">
            <h1 class="fg-white title">My PHP Project</h1>
        </section>
        <section class="header-right flex-box flex-grow">

            <section class="header-nav flex-grow flex-box">
                <a href="index.php" class="menu-bar flex-grow fg-white flex-box flex-center">
                    Home
                </a>
                <a href="index.php#about" class="menu-bar flex-grow fg-white flex-box flex-center">
                    About
                </a>
                <a href="view/login.php" class="menu-bar flex-grow fg-white flex-box flex-center">
                    Login
                </a>
            </section>
            <button class="button fg-white menu-button" onmouseover="menuFunction()">
                <img src="img/menu.ico" alt="aaa">

                <nav class="nav-bar bg-black" id="nav-bar">
                    <a href="index.php" class="nav-bar-menu menu-bar fg-white flex-grow">About</a>
                    <a href="index.php#about" class="nav-bar-menu menu-bar fg-white flex-grow">Home</a>
                    <a href="view/login.php" class="nav-bar-menu menu-bar fg-white flex-grow">Login</a>
                </nav>
            </button>
        </section>
    </header>
</section>